{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="login_heading">
    <h1>Login</h1>
  </div>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again</p>
  {% endif %}
  <form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table>
    <div class="login_form">
      {{ form|crispy }}
    </div>
  </table>
  <div class="login_button">
    <button type="submit" class="btn btn-info" value="login">Login</button>
  </div>
{% endblock %}
