{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="post_edit_heading">
    <h1>New/Edit post</h1>
  </div>
  <form method="post" class="post-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="title_form">
      {{ form.title|as_crispy_field }}
    </div>
    <div class="desc_form">
      {{ form.desc|as_crispy_field }}
    </div>
    <div class="body_form">
      {{ form.body|as_crispy_field }}
    </div>
    {{ form.media }}
    <div class="link_form">
      {{ form.link|as_crispy_field }}
    </div>

    <div class="post_edit_button">
      <button type="submit" class="btn btn-info" value="save">Save</button>
    </div>
  </form>
{% endblock %}
