/* General */

p {
  padding-top: 9px;
  padding-left: 60px;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  width: 1700px;
  word-wrap: break-word;
}

h1 {
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  font-family: 'Merriweather', serif;
  font-size: 39px;
}

/* Navbar */

.navbar-brand {
  font-size: 37px;
}

.navbar-custom {
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

/* Links */

a:link {
    text-decoration: black;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: black;
}

a:visited {
  color: black;
}

/* Content */

body {
  color: black;
  background-color: #f2f2f2;
}

.post {
  margin-top: 23px;
  margin-bottom: 38px;
  margin-left: 23px;
}

.date {
  padding-top: 15px;
  padding-left: 60px;
  color: #828282;
}

/* Post detail */

.detail_desc {
  padding-top: 13px;
  padding-bottom: 10px;
  color: #686868;
}

.detail_body {
  padding-top: 5px;
  padding-bottom: 10px;
}

.detail_buttons {
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 60px;
}

/* Login */

.login_heading {
  padding-top: 15px;
  padding-left: 10px;
}

.login_form {
  padding-left: 35px;
  font-size: 135%;
}

.login_button {
  padding-top: 15px;
  padding-left: 35px;
}

/* Post edit */

.post_edit_heading {
  padding-top: 15px;
  padding-left: 10px;
}

.title_form {
  padding-top: 5px;
  padding-left: 60px;
  font-size: 160%;
  width: 210%;
}

.desc_form {
  padding-top: 8px;
  padding-right: 60px;
  padding-left: 60px;
  font-size: 160%;
  width: 280%;
}

.body_form {
  padding-top: 8px;
  padding-right: 60px;
  padding-left: 60px;
  font-size: 160%;
  width: 280%;
}

.link_form {
  padding-top: 8px;
  padding-right: 60px;
  padding-left: 60px;
  font-size: 160%;
  width: 280%;
}

.post_edit_button {
  padding-top: 25px;
  padding-bottom: 35px;
  margin-left: 60px;
}
